.cover-pic{
    
    height: 260px;
    margin-left: -.75rem;
    margin-right: -.75rem;
    position: relative;
    background-size: cover;
    background-position: center center;
}
.cover-pic::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 0;
    bottom: 0;
    opacity: .9;
    background: #4b38b3;
    background: -webkit-gradient(linear,left bottom,left top,from(#221a52),to(#4b38b3));
    background: linear-gradient(to top,#221a52,#4b38b3);
}
.infoContainer{
    width: 100%;

    position: relative;
    margin-top: -50px;
    height: 100px;

}
main .card{
    box-shadow: 0 3px 3px rgba(56,65,74,0.1);
}
.QR-container{
    text-align: center;
}
.QR-container img{
    width: 100%;
    max-width: 150px;
}
.QR-container p{
    font-size: 13px;
    color: black;
    font-weight: 600;
    margin-top: 10px;
}
.card-title{
    font-size: 16px;
    margin: 0 0 7px 0;
}
.progress-bar{
    width: 100%;
    padding: 3px ;
    background-color: #eff2f7;
    border-radius: 30px;
    overflow: visible;
}
.bar{
    height: 6px;
    padding: 1px;
    width: 30%;
    transition: all .3s ;
    border-radius: 30px;
}
.progress-bar .dot{
    float: right;
    border-radius: 50%;
    height: 4px ;
    width: 4px;
    position: relative;
    background-color: white;
}
.progress-bar .dot::before{
    content: '30%';
    position: absolute;
    bottom: 200%;
    left: auto;
    right: -14px;
    margin: auto;
    padding: 2px;
    z-index: 1;
    width: 35px;
    font-size: 10px ;
    border-radius: 2px;
    background-color: #4b38b3;
}
.progress-bar .dot::after{
    content: '';
    position: absolute;
    bottom: 200%;
    right: -2px;
    left: auto;
    background-color: #4b38b3;
    height: 10px;
    width: 10px;
    transform: rotate(45deg);
}
main .card #myTab{
    border-bottom: 1px solid #eff2f7;
}
main .card #myTab button{
    background-color: white;
    box-shadow: none;
    border: 0px solid  white;
    position: relative;
    outline: none;
    color: #4b38b3;
    font-size: 13px;
}
main .card #mytab li button:after{
    content: '';
    width: 0px;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: auto;
    transition: all .3s;
}
main .card #myTab li.active button:after {
    width: 100%;
    background-color: #4b38b3;
    height: 2px;
}
.infoContainer form .form-label{
    font-size: 13px;
    font-weight: 500;
}
.infoContainer form .form-control{
    margin-bottom: 1.5rem;
    font-size: 13px;
    font-weight: lighter;
    box-shadow: none !important;
}
.infoContainer form .form-control:focus{
    border-color: #4b38b3 ;
}

.infoContainer form .btn-primary{
    background-color: #4b38b3;
    border: 1px solid #4b38b3;
    color: white;
    font-size: 13px ; 
    box-shadow: none !important;
}
.infoContainer form .btn-primary:hover{
    background-color: #403098;
    border: 1px solid #403098;
}
.infoContainer form .btn-soft-success{
    background-color: rgba(69, 203, 133, 0.1);
    border: 1px solid rgba(69, 203, 133, 0.1);
    color: #3eb778;
    font-size: 13px ; 
    box-shadow: none !important;
}
.infoContainer form .btn-soft-success:hover{
    background-color: #3eb778;
    border: 1px solid #3eb778;
    color: white;
}
.infoContainer form .link-primary{
    color: #4b38b3;
    font-size: 13px;
}


.flatpickr-months {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #4b38b3;
    border-radius: 5px 5px 0 0;
}
.flatpickr-current-month {
    font-size: 100%;
    line-height: inherit;
    font-weight: 300;
    color: inherit;
    position: absolute;
    width: 75%;
    left: 12.5%;
    padding: 7.48px 0 0 0;
    line-height: 1;
    height: 34px;
    display: inline-block;
    text-align: center;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.flatpickr-weekdays {
    background-color: #4b38b3;
    text-align: center;
    overflow: hidden;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 36px;
    border-bottom: 1px solid var(--vz-border-color);
}
span.flatpickr-weekday {
    cursor: default;
    font-size: 90%;
    background: #4b38b3;
    color: #fff;
    line-height: 1;
    margin: 0;
    text-align: center;
    display: block;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-weight: 500;
}

.flatpickr-months .flatpickr-month {
    background: #4b38b3;
    color: rgba(255,255,255,.9);
    fill: rgba(255,255,255,.9);
    height: 34px;
    line-height: 1;
    text-align: center;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.flatpickr-months .flatpickr-next-month, .flatpickr-months .flatpickr-prev-month {
    text-decoration: none;
    cursor: pointer;
    position: absolute;
    top: 0;
    height: 34px;
    padding: 10px;
    z-index: 3;
    color: rgba(255,255,255,.9);
    fill: rgba(255,255,255,.9);
}
.flatpickr-months .flatpickr-next-month:hover, .flatpickr-months .flatpickr-prev-month:hover {
    color: #959ea9 !important;
}
.flatpickr-months .flatpickr-next-month:hover svg, .flatpickr-months .flatpickr-prev-month:hover svg {
    fill: rgba(255,255,255,.9);
}
.flatpickr-day.endRange, .flatpickr-day.endRange.inRange, .flatpickr-day.endRange.nextMonthDay, .flatpickr-day.endRange.prevMonthDay, .flatpickr-day.endRange:focus, .flatpickr-day.endRange:hover, .flatpickr-day.selected, .flatpickr-day.selected.inRange, .flatpickr-day.selected.nextMonthDay, .flatpickr-day.selected.prevMonthDay, .flatpickr-day.selected:focus, .flatpickr-day.selected:hover, .flatpickr-day.startRange, .flatpickr-day.startRange.inRange, .flatpickr-day.startRange.nextMonthDay, .flatpickr-day.startRange.prevMonthDay, .flatpickr-day.startRange:focus, .flatpickr-day.startRange:hover {
    background: #4b38b3;
    -webkit-box-shadow: var(--vz-box-shadow);
    box-shadow: var(--vz-box-shadow);
    color: #fff;
    border-color: #4b38b3;
}
.flatpickr-calendar.arrowTop::before {
    border-bottom-color: #4b38b3;
    
}
.flatpickr-calendar.arrowBottom::before {
    border-top-color: #4b38b3;
}
